body
{
	width: 100vw;
	height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

header h1
{
	color: #FDCB42;
	background-color: #569C87;
	text-align: center;
	font-size: 	80px;
	font-weight: bold;
	margin: 0;
	text-decoration: none;
}

header a
{
	text-decoration: none;
}


.footer
{
	display: flex;
	justify-content: space-between;
	background-color: #569C87;
	font-size: 40px;
	position: fixed;
	width: 100%;
	bottom: 0;
}
.footer a
{
	color: #FDCB42;
	margin: 0px 30px 0px 30px;
	padding: 15px;
	text-decoration: none;
	font-family: sans-serif;
}

.fas
{
	font-size: 60px;
	background: -webkit-gradient(linear, left top, left bottom, from(#B03A2E), to(#F5B7B1));
	background: linear-gradient(90deg, #B03A2E, #F5B7B1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 50px;
}

/*---------menu1---------*/




.lanote
{
	background-color: #FCDFDA;
	width: 50%;
	height: 80%;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	color: #772514;
	padding-bottom: 50px;

}


.line1
{
	display: flex;
	align-items: baseline;
	width: 100%;
}

.line
{
    border-top: 5px solid #772514;
    width: 30%;
    margin: 2%;
    padding-bottom: 5px;
}

#prel, #poi
{
	display: flex;
	font-family: 'Kalam', cursive;
}

h2
{
	font-size: 45px;
	font-family: 'Devonshire', cursive;
}

h3
{
	text-align: center;
	font-size: 30px;
	width: 40%;
	font-family: 'Kalam', cursive;
}

li
{
	text-align: left;
	font-size: 25px;
}

ul
{
	list-style-type: none;
	display: flex;
	font-size: 0px;
	justify-content: space-between;
	line-height: 1em;
	padding: 0px;
}

#prel, #poi
{
	flex-direction: column;
}

.footmenu
{
	display: flex;
	font-size: 35px;
	align-items: baseline;
	font-family: 'Devonshire', cursive;
}

.text
{
	width: 90%;
}

.prix
{
	font-weight: bold;
}

.mouv ul
{
	flex-direction: column;
	font-family: 'Kalam', cursive;
}




/*---------menu2---------*/



.lechic
{
	background-color: #FFFFFF;
	width: 50%;
	height: 80%;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	box-shadow: 0px 0px 10px 1px #1f1f1f;
	padding-bottom: 50px;

}

.line1
{
	display: flex;
	align-items: baseline;
	width: 100%;
}

.line2
{
    border-top: 5px solid #D8852E;
    width: 30%;
    margin: 2%;
    padding-bottom: 5px;
}

.line3
{
	border-top: 5px solid #A56999;
    width: 30%;
    margin: 2%;
    padding-bottom: 5px;
}

.line4
{
	border-top: 5px solid #7755D4;
    width: 30%;
    margin: 2%;
    padding-bottom: 5px;
}

.appétit
{
	color: #D8852E;
	width: 90%;
}

.papilles
{
	color: #A56999;
	width: 90%;
}

.gourma
{
	color: #7755D4;
	width: 90%;
}

#prel, #poi
{
	display: flex;
}

.gourman ul
{
	flex-direction: column;
	font-family: 'Kalam', cursive;
}

.chic
{
	font-size: 40px;
	background: -webkit-gradient(linear, left top, left bottom, from(#D8852E), to(#7755D4));
	background: linear-gradient(90deg, #D8852E, #7755D4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Croissant One', cursive;
}

h3
{
	text-align: center;
	font-size: 30px;
	width: 55%;
}

li
{
	text-align: left;
	font-size: 25px;
	line-height : 50px;
	
}

ul
{
	list-style-type: none;
}





/*******menu3*******/






.pap
{
	font-size: 40px;
	background: -webkit-gradient(linear, left top, left bottom, from(#292ED8), to(#48B1E5));
	background: linear-gradient(90deg, #292ED8, #48B1E5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Dancing Script', cursive;
}

.line5
{
    border-top: 5px solid #292ED8;
    width: 30%;
    margin: 2%;
    padding-bottom: 5px;
}

.line6
{
	border-top: 5px solid #4757F5;
    width: 30%;
    margin: 2%;
    padding-bottom: 5px;
}

.line7
{
	border-top: 5px solid #48B1E5;
    width: 30%;
    margin: 2%;
    padding-bottom: 5px;
}

.commencer, .continuer, .terminer
{
	width: 90%;
	font-family: 'Kalam', cursive;
}

.last
{
	display: flex;
	flex-direction: column;
}





/*******menu4*******/




.gou
{
	font-size: 40px;
	background: -webkit-gradient(linear, left top, left bottom, from(#20D82B), to(#A0FF8C));
	background: linear-gradient(90deg, #20D82B, #A0FF8C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Kaushan Script', cursive;
}

.line8
{
    border-top: 5px solid #20D82B;
    width: 30%;
    margin: 2%;
    padding-bottom: 5px;
}

.line9
{
	border-top: 5px solid #36E641;
    width: 30%;
    margin: 2%;
    padding-bottom: 5px;
}

.line10
{
	border-top: 5px solid #A0FF8C;
    width: 30%;
    margin: 2%;
    padding-bottom: 5px;
}



@media screen and (max-width: 1620px)
{
	li
	{
		font-size: 20px;
	}

}



@media screen and (max-width: 1500px)
{
	.fas
	{
		font-size: 40px;
	}
	h2
	{
		font-size: 35px;
	}

	h3, h4
	{
		font-size: 25px;
	}

	.chic
	{
		font-size: 35px;
	}
}

@media screen and (max-width: 1200px)
{
	li
	{
		font-size: 17px;
		line-height: 2.5em;
	}
}

@media screen and (max-width: 1100px)
{
	.lanote, .lechic
	{
		width: 55%;
	}
}

@media screen and (max-width: 900px)
{
	li
	{
		font-size: 15px;
	}

	h3
	{
		font-size: 18px;
	}

	.lanote, .lechic
	{
		width: 60%;
	}

	.chic
	{
		font-size: 30px;
	}

}

@media screen and (max-width: 800px)
{
	.lanote, .lechic
	{
		width: 70%;
	}

	.line
	{
		border-top: 3px solid #772514;
	}
}

@media screen and (max-width: 700px)
{
	.footer
	{
		font-size: 25px;
	}

	.lanote, .lechic
	{
		width: 80%;
	}
}

@media screen and (max-width: 600px)
{
	li
	{
		font-size: 15px;
	}

	h3
	{
		font-size: 15px;
	}

	h2
	{
		font-size: 25px;
	}
}

@media screen and (max-width: 500px)
{
	.lanote, .lechic
	{
		width: 100%;
	}
}

@media screen and (max-width: 400px)
{
	header h1
	{
		font-size: 60px;
	}

	.footer
	{
		font-size: 15px;
	}

	ul
	{
		flex-direction: column;
		align-items: center;
	}
	li
	{
		text-align: center;
	}
}


/***** Animations *****/


h3
{
	position: relative;
}

h3:before
{
	content: "";
  	position: absolute;
  	width: 0;
  	height: 2px;
  	bottom: 0;
  	left: 0;
  	background-color: black;
  	visibility: hidden;
  	transition: all 0.3s ease-in-out;
}

h3:hover:before
{
	visibility: visible;
	width: 100%;
}

h3.animline:before
{
	background-color: #772514;
}

.animline1:before
{
	background-color: #D8852E;
}

.animline2:before
{
	background-color: #A56999;
}

.animline3:before
{
	background-color: #7755D4;
}



@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@-webkit-keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.footer a:hover
{
  animation: shake 1s cubic-bezier(.36,.07,.19,.97) both infinite;
  -webkit-animation: shake 1s cubic-bezier(.36,.07,.19,.97) both infinite;  
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
